* {
  box-sizing: border-box;
  font-family: sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.footer {
  background: #917898;
  color: black;
  height: 3rem;
  text-align: center;
}

.footer p { 
  align-items: center;
  display: flex;
  height: 3rem;
  justify-content: center;
}

.nav-container {
  color: white;
  text-decoration: none;
}

a { 
  color: inherit; 
} 

.nav {
  background: transparent;
  background-color: #917898;
  height: 3em;
}

.nav a {
  color: black;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.img-card {
  margin-bottom: 2rem;
  width: fit-content;
}

.card-body {
  display: flex;
  flex-direction: column;
  height: 14rem;
  justify-content: space-between;
  background-color: #bcb8ce;
}

.img-card img {
  height: 18rem;
}

body {
  background-color: #d5ddef;
}

.landing-text {
  text-align: left;
  text-decoration: wavy;
  margin: 1rem;
}

.landing-img img {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
}

.email-input {
  background: transparent;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  font-size: 1.5rem;
  outline-width: 0;
  width: 18rem;
  height: 2rem;
  padding-left: 1rem;
}

i:hover {
  color: #917898;
  cursor: pointer;
}

.search {
  font-size: 1.5rem;
  height: 3rem;
  width: 22rem;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  outline-width: 0;
  background: transparent;
  padding-left: 4rem;
}

.discount-container {
  width: 20rem;
  background-image: linear-gradient(#ffa5b9, #f0d9ea);
}

.discount-card {
  margin: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  text-align: center;
}