* {
  box-sizing: border-box;
  font-family: sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer {
  background: #917898;
  color: black;
  height: 3rem;
  text-align: center;
}

.footer p { 
  align-items: center;
  display: flex;
  height: 3rem;
  justify-content: center;
}

.nav-container {
  color: white;
  text-decoration: none;
}

a { 
  color: inherit; 
} 

.nav {
  background: transparent;
  background-color: #917898;
  height: 3em;
}

.nav a {
  color: black;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.img-card {
  margin-bottom: 2rem;
  width: fit-content;
}

.card-body {
  display: flex;
  flex-direction: column;
  height: 14rem;
  justify-content: space-between;
  background-color: #bcb8ce;
}

.img-card img {
  height: 18rem;
}

body {
  background-color: #d5ddef;
}

.landing-container {
  /* height: 40rem; */
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 3rem;
}

.landing-text {
  /* border: 1px solid blue; */
  text-align: left;
  text-decoration: wavy;
  margin: 1rem;
}

.landing-img img {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
}

.form-container {
  display: flex;
  height: 8rem;
  justify-content: center;
  margin: 3rem;
}

.form-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
}

.email-input {
  font-size: 1.5rem;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  outline-width: 0;
  width: 18rem;
  height: 2rem;
  background: transparent;
}

.password-input {
  font-size: 1.5rem;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  outline-width: 0;
  width: 18rem;
  height: 2rem;
  background: transparent;
}

.password-container {
  position: relative;
}

.password-container i {
  position: absolute;
  margin-left: 10px;
}

i:hover {
  color: #917898;
  cursor: pointer;
}

.search {
  font-size: 1rem;
  height: 2rem;
  width: 80%;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  outline-width: 0;
  background: transparent;
  padding-left: 2rem;
}